.container-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
}

.pagination-list {
    max-width: 300px;
    display: flex;
    gap: 5px;
}

.pagination-list li {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
@media(any-hover: hover) {
    .pagination-list li:hover {
        scale: 1.05;
    }
}
.pagination-list li.active {
    background-color: #007bff;
    color: white;
}
.pagination-list li.disabled {
    pointer-events: none;
    opacity: 0.2;
}
.pagination-list li:active {
    background-color: #007bff;
    opacity: 0.5;
}
